:root{
    --form-padding-hor: 40px;
    --form-padding-vert: 40px;
}

@font-face {
    font-family: "norse-bold";
    src:
      url("../fonts/norse-bold-webfont.woff2") format("woff2"),
      url("../fonts/norse-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, system-ui, sans-serif;
    font-weight: normal;
    background-color: rgb(238, 238, 238);
}

label {
    font-size: small;
    letter-spacing: 1px;
}

#master-container {
    display: flex;
    flex-direction: row;
    
}

#right-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    flex: 7 1 auto;
    box-sizing: border-box;
}

#left-half {
    background: url("../images/halie-west-unsplash.jpg");
    background-size: cover;
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 60%;
}

.bg-img {
    max-height: 100vh;
    width: 100%;
    width: auto;
    height: auto;
}


.input-field {
    display: flex;
    flex-direction: column;
}

.submit-field {
    padding: var(--form-padding-vert) var(--form-padding-hor);
}

.submit-field > button {
    background-color: #596D48;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.1); 
    box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    border: none;
}

.submit-field > button:hover {
    background-color: #4c5c3d;
}

.submit-field > button:active {
    outline: 2px solid #7e9966;
    background-color: #4c5c3d;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-input {
    background-color: white;
    padding: 30px var(--form-padding-hor) 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 3px 2px 5px 5px rgba(0,0,0,0.1); 
    box-shadow: 3px 2px 5px 5px rgba(0,0,0,0.1);
}

.name-row {
    margin-bottom: 30px;
}

.fake-link {
    color: #596D48;
    text-decoration: underline;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #E5E7EB;
    background-color: rgb(253, 253, 253);
    margin: 0px 0px;
}

input:focus {
    outline: 1px solid #5e76ff;
    -webkit-box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.1); 
    box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}

.input-invalid:focus {
    outline: 1px solid #df0000;
    -webkit-box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.1); 
    box-shadow: 4px 6px 5px 1px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}

.input-invalid {
    outline: 1px solid #df0000;
    background-color: #ffe7e7;
}

.error {
    color: #df0000;
    font-size: smaller;
    height: 25px;
    margin-top: 5px;
}

.banner {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 65px;
    text-align: center;
    padding: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "norse-bold";
}

.logo{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0px;
    padding-right: 10px;
}


.credit {
    color: white;
    text-align: center;
}

a {
    color: white;
}